.input-form,
.button-on-ctntet {
  display: flex;
  justify-content: center;
}
.submit,
.load-more {
  background-color: blue;
  color: aliceblue;
  border: 1px solid blue;
  border-radius: 4px;
}
.photo-card {
  background-color: rgb(247, 246, 246);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  border-radius: 4px;
}
.info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.info-item {
  /* display: flex; */

  text-align: center;
}
.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10;
  margin: 1%;
}
.img-photo {
  width: 300px;
  height: 180px;
}
